/* ---------------------------------------------------------
RPSLK - CSS
--------------------------------------------------------- */



#name-input {
  width: 100px;
}


body {

  width: 100%;
  min-width: 320px;  
  height: 800px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 56px;
}

#set-name-btn {
  margin-right: 10px
}

.card:not:first-of-type {
  margin-left: 20px;
}

h3, .card-title {
  text-align: center;
}

#left-container-2, #right-container-2 {
  height: 145px;
  margin: 0px;
}

.card-top {
  border-bottom: 2px solid lightgray;
}

.card-bottom {
  border-top: 2px solid lightgray;
}

#results { 
  height: 308px;
}

.list-flush {
  text-align: center;
}
/* #search-input {
  width: 120px;
}

.dropdown-menu {
  height: auto;
  max-height: 200px;
  overflow-x: scroll;
}


.container { 
  width: 80%;
  height: auto;
  max-width: 500px;
  margin-top: 150px;
  margin-left: auto;
  margin-right: auto;
}




.slide-window-show {
  visibility: visible;
  border: solid 2px white;
  padding: 0px;
}

.slide-window-hide {
  visibility: hidden;
  border: none; 
}

#footer-text {
  color: #ffffff;
  font-size: 10px; 
} */

/* First breakpoint - these rules take effect at maximum browser's width
   of 575px */
   /* @media screen and (max-width: 575px) {
  
    #search-input {
      margin-right: 10px;
    }

    #giphy-logo {
      width: 150px;
      height: 20px;
    }

    #footer-text {
      font-size: 8px;
    }

    #footer-bar {
      padding: 8px 4px;
    }
}
   */

